*{
    margin: 0px;
    padding: 0px;
}

.article {
    background-color: lavender;
    margin-bottom: 1px;
    margin-top: 1px;
    border-color: lavender;
    padding: 10px;
}

.menu, .address {
    padding: 10px 100px;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: lightcoral;
    position: fixed;
}
.headerContent {
    text-align: center;
    padding: 3vh 0;
}

.mainArticleContainer{
    display: inline-block;
    
}

footer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 10%;
    padding: 20px;
    /* padding: 5px; */
    background-color: #cbcdd0;
    bottom: 0px;
    position: relative;
    /* top: 200px; */
}